{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    
    <div class="homepage">
    <h2>Welcome to my personal website!</h2>
    <p>This is my personal website.  It was orginally built for my first year bridging coursework.  It now contains a blog which I irregually update, a link to my basic CV and just some random clutter!  Hope you like it</p>
    </div>
    

{% endblock %}

{% block image %}
<div class="imageOfMe">
    <img src="{% static 'images/photos.JPG' %}" alt= "Photo" width='200'>
</div>
{% endblock %}

